controller_type: se2_impedance
final_eval_results:
  mean_length: !!python/object/apply:numpy._core.multiarray.scalar
  - &id001 !!python/object/apply:numpy.dtype
    args:
    - f8
    - false
    - true
    state: !!python/tuple
    - 3
    - <
    - null
    - null
    - null
    - -1
    - -1
    - 0
  - !!binary |
    AAAAAABAj0A=
  mean_reward: !!python/object/apply:numpy._core.multiarray.scalar
  - *id001
  - !!binary |
    JcOWV/51LME=
  std_length: !!python/object/apply:numpy._core.multiarray.scalar
  - *id001
  - !!binary |
    AAAAAAAAAAA=
  std_reward: !!python/object/apply:numpy._core.multiarray.scalar
  - *id001
  - !!binary |
    OEOT1RRoKEE=
hl_checkpoint: null
hl_policy_type: none
total_timesteps: 100
